.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 280px;
}

.pic {
  margin-top: 120px;
}

.banner {
  margin-top: 0px;
  font-family: 'Press Start 2P';
  font-size: 18px;
}

.right {
  display: inline;
  float: right;
}


h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.price {
  color: white;
}

.info {
  width: 50%;
  margin-top: 40px;
  margin-right: 500px;
}

span {
  font-weight: bold;
  font-size: 16px;
  float: right;
}

.spanbutton {
  display: inline;
}

button {
  background-color: #fcec03; 
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width:100px;
  height:25px;
  float: right;
}

.App-title {
  color: green;
  font-size: 60px;
  margin-bottom: 0px;
}

header {
  color: #fcec03;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #fcec03;
  font-size: 16px;
}

h3 {
  color: #fcec03;
  margin-top: 10px;
  margin-bottom: 80px;
}

body {
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logos {
  height: 60px;
  margin-top: 30px;
}

.game {
  display: inline;
  height: 400px;
  width: 250px;
}

a {
  color:#ed008e;
}

.image-card {
  margin: 1em;
  padding: 15px;
  border: 1px solid grey;
}

.image-card>header {
  font-size: 2em;
}